@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
}

#first {
  flex-basis: 30%;
  background: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#first .card-front {
  height: 220px;
  width: 400px;
  border-radius: 10px;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 15%;
  left: 15%;
  padding: 20px 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#first .card-front .card-dets {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: hsl(270deg, 3%, 87%);
}
#first .card-front .card-dets .card-number {
  font-size: 25px;
  letter-spacing: 2.5px;
}
#first .card-front .card-dets .foot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
}
#first .card-back {
  height: 220px;
  width: 400px;
  border-radius: 10px;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 49%;
  left: 20%;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#first .card-back .cvc-number {
  position: absolute;
  top: 45%;
  left: 80%;
  color: hsl(270deg, 3%, 87%);
}

#second {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#second form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  margin: auto;
}
#second form > div {
  height: 77.8px;
}
#second form label {
  font-size: 12px;
  text-transform: uppercase;
}
#second form input {
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1.4px solid rgb(202, 202, 202);
  outline: none;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%));
}
#second form input::placeholder {
  color: rgb(182, 182, 182);
}
#second form input:focus {
  border-color: transparent;
}
#second form .errorMSG {
  margin-top: 5px;
  color: hsl(0deg, 100%, 66%);
  font-size: 11px;
}
#second form .together {
  display: flex;
  gap: 15px;
}
#second form .together .expiryDateContainer {
  flex-basis: 40%;
}
#second form .together .expiryDateContainer .expiryDateFields {
  display: flex;
  gap: 5px;
}
#second form .together .cvcContainer {
  flex-basis: 60%;
}
#second form #submit-btn {
  background: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  padding: 13px 0;
  border-radius: 10px;
  margin-top: 15px;
}
#second .thankYou {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 15px;
}
#second .thankYou .icon, #second .thankYou h1, #second .thankYou p {
  text-align: center;
}
#second .thankYou h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 15px;
}
#second .thankYou p {
  color: hsl(279deg, 6%, 55%);
  letter-spacing: 2px;
}
#second .thankYou #continue-btn {
  background: hsl(278deg, 68%, 11%);
  color: hsl(270deg, 3%, 87%);
  padding: 13px 0;
  border-radius: 10px;
  margin-top: 15px;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 400px) {
  .main {
    flex-direction: column;
  }
  #first {
    background: url("./images/bg-main-mobile.png");
  }
}

/*# sourceMappingURL=styles.css.map */
